html, body {
    margin:0;
    height:100%;
    min-height:100%;
}
body {
    margin:0;
    display: flex;
    flex-direction: column;
    background: url("../images/Main_Back.jpg") fixed no-repeat top right;
    background-size: cover;
}

header {
    flex: 1;
    background: black;
    text-align: center;
    max-height: 30px;
    color: white;
}
article {
    flex: 8;
    overflow-y: scroll;
    color: black;

}
footer {
    flex: 1;
    background: rgba(84, 135, 178, 0.65);
    max-height: 25px;
    text-align: center;
    color: white;
    z-index: 3;
    padding-top: 5px;
}
header *, footer * {
    color: white;
}
#title {
    text-align: center;
    border: 5px solid black;
    margin-left: 300px;
    margin-right: 20px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}
#body {
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 290px;
    padding-left: 10px;
}
#sidebar {
    position: fixed;
    left: 0px;
    float: left;
    background-color: rgba(249, 248, 248, 0.84);
    width: 280px;
    border: black 5px;
    height: 100%;
}
.sidebarText *{
    color: black;
    text-decoration: none;
}
.sidebarText h1, h2{
    padding-left: 7px;
}

#contact{
    max-width: 280px;
}
form input, textarea {
    border: black solid 1px
}
.contactPage{
    display: flex;

}