html, body {
    margin:0;
    height:100%;
    min-height:100%;
}
body {
    margin:0;
    display: flex;
    flex-direction: column;
    background: url("../images/Main_Back.jpg") fixed no-repeat top right;
    background-size: cover;
}

header {
    background: black;
    text-align: center;
    max-height: 30px;
    color: white;
}
article {
    overflow-y: auto;
    color: black;

}
footer {
    background: rgba(84, 135, 178, 0.65);
    height: 25px;
    text-align: center;
    color: white;
    z-index: 3;
    padding-top: 3px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer * {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: inline;
    text-decoration: none;
}
footer a:hover {
    text-decoration: none;
}
header *, footer * {
    color: white;
}
.titleMain {
    text-align: center;
    border: 5px solid black;
    margin: 10px 20px 10px 300px;
    background-color: rgba(255, 255, 255, 0.7);
}
.title {
    text-align: center;
    border: 5px solid black;
    margin: 10px 20px 10px 20px;
    background-color: rgba(255, 255, 255, 0.7);
}

.body {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 10px 35px 290px;
    padding: 10px 10px 10px 10px;
}
article nav {
    position: fixed;
    left: 0px;
    float: left;
    background-color: rgba(249, 248, 248, 0.84);
    width: 280px;
    border: black 5px;
    height: 100%;
}
.sidebarText *{
    color: black;
    text-decoration: none;
}
.sidebarText h4{
    padding-left: 7px;
}
form input, textarea {
    border: black solid 1px
}
.contactPage{
    display: flex;
    justify-content: center;
    height: 100%;
}
#contactInfo{
    margin-top: 10px;
}
table {
    width: auto;
    border-collapse: collapse;
    margin: 0 20px 0 20px;
}
table td, th {
    border: solid 2px black;
    text-align: center;
}
ul {
    list-style-type: none;
    padding-left: 15px;
}